@using RentQuest.Models;

@model X.PagedList.IPagedList<Circulations>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Listing";
}

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">P3S<span>Leasing</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" asp-area="Unregistered" asp-controller="Unreg" asp-action="Index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Unregistered" asp-controller="Unreg" asp-action="Listing">Property</a></li>
                    <li class="nav-item cta"><a asp-area="Unregistered" asp-controller="Unreg" asp-action="Menu" class="nav-link ml-lg-2"><span class="icon-user"></span> Sign-In</a></li>
                    <li class="nav-item cta cta-colored"><a asp-area="Unregistered" asp-controller="Unreg" asp-action="Menu2" class="nav-link"><span class="icon-pencil"></span> Sign-Up</a></li>

                </ul>
            </div>
        </div>
    </nav>

<section class="ftco-search">
    <div class="container">
        
        <div class="row">
            <div class="col-md-12 search-wrap">
                <form method="post" class="search-property">
                    <div class="row">
                        <div class="col-md align-items-end">
                            <div class="form-group">
                                <label for="#">Property Type</label>
                                <div class="form-field">
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        @*<input type="text" class="form-control" name="PropType" placeholder="Property Type" />*@
                                    <select type="text" name="PropType" class="form-control">
                                        <option value="">Types</option>
                                        @foreach (var c3 in Model)
                                        {
                                    <option value="@c3.CircTypes.CircType">@c3.CircTypes.CircType</option>
                                        }
                                    </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md align-items-end">
                            <div class="form-group">
                                <label for="#">Min Beds</label>
                                <div class="form-field">
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <input type="number" class="form-control" name="lowbed" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md align-items-end">
                            <div class="form-group">
                                <label for="#">Min Bathroom</label>
                                <div class="form-field">
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <input type="number" class="form-control" name="lowbath" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md align-items-end">
                            <div class="form-group">
                                <label for="#">Min Rent</label>
                                <div class="form-field">
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <input type="number" class="form-control" name="lowamount" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md align-items-end">
                            <div class="form-group">
                                <label for="#">Max Rent</label>
                                <div class="form-field">
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <input type="number" class="form-control" name="highamount" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md align-self-end">
                            <div class="form-group">
                                <div class="form-field">
                                    <input type="submit" value="Search" class="form-control btn btn-primary">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">

            @foreach (var circulations in Model)
            {
                <div class="col-md-4 ftco-animate">
                    <div class="properties">
                        <a class="img img-2 d-flex ">
                            <img src="~/@circulations.Image" alt="Card Image" class="card-img-top" style="height:300px" />
                        </a>
                        <div class="text p-3">
                            @*<span class="status sale">Available</span>*@
                            <div class="d-flex">
                                <div class="one">
                                    <h3><a>@circulations.Name</a></h3>
                                    <div>
                                        Location: @circulations.Location
                                        <br />
                                        Type: @circulations.CircTypes.CircType
                                    </div>
                                </div>
                                <div class="two">
                                    <span class="price">@circulations.Monthly_Rent</span>
                                </div>

                            </div>

                            <div>
                                <p>Owner Email: @circulations.HEmail</p>

                            </div>


                            <hr>
                            <p class="bottom-area d-flex">
                                <span><i class="flaticon-selection"></i> @circulations.SizeSQFT SQFT</span>
                                <span class="ml-auto"><i class="flaticon-bathtub"></i> @circulations.num_bath</span>
                                <span><i class="flaticon-bed"></i> @circulations.num_bed</span>
                                <div><a asp-area="Unregistered" asp-action="Detail" asp-controller="Unreg" asp-route-id="@circulations.Id" class="btn btn-success pull-right btn-outline-info">Details</a></div>
                            </p>
                            <br />

                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li class="active"><span> @Html.PagedListPager(Model, c => Href("~/Unregistered/Unreg/Listing?page=" + c))</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

@*<script type="text/javascript">
    $(document).ready(function () {
        var divslider = $('#slider');
        divslider.slider( {
            range: true,
            min: 0,
            max: 50000,
            values: [0,50000],
            slide: function (event, ui) {
                $("amount").val("$" + ui.values[0] + ".00" + "-" + "$" + ui.values[i] + ".00");
            }
        });
    });

    function submit() {
        var userWeightings = [];

        $('#sliders input[type=range]').each(function (i, obj) {
            var sliderName = $(obj).attr('name');
            var sliderValue = $(obj).val();
            var userWeighting = { RuleName: sliderName, Weighting: sliderValue };
            userWeightings.push(userWeighting);
        })

        //var str = JSON.stringify(userWeightings);
        //alert(str);

        $.ajax({
            dataType: "json",
            url: @Url.Action("Listing","Unreg"),
            type: 'POST',
            data: {
                highamount: highamount,
                lowamount: lowamount
            }
        });
    }

</script>*@