@model RentQuest.Models.Circulations
@{
    ViewData["Title"] = "Second";
}


@using  RentQuest.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    //int c2=0;

    List<Circulations> circulations = HttpContextAccessor.HttpContext.Session.Get<List<Circulations>>("circulations");
    Circulations circulation = null;
    if (circulations != null)
    {
        circulation = circulations.FirstOrDefault(c => c.Id == Model.Id);
    }

}

@{
    int count = 0;
    List<Circulations> cn = HttpContextAccessor.HttpContext.Session.Get<List<Circulations>>("circulations");
    if (cn == null)
    {
        cn = new List<Circulations>();
    }
    count = cn.Count();
}


    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">P3S<span>Leasing</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" asp-area="Tenant" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Tenant" asp-controller="Home" asp-action="Listing">Property</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Tenant" asp-controller="Home" asp-action="WLSecond"><i class="fas fa-heart"></i>Your Wishlist</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Tenant" asp-controller="Home" asp-action="SentReq">Sent Requests</a></li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Tenant" asp-controller="Home" asp-action="WL">
                            Request Queue
                            (@count)
                        </a>
                    </li>

                    <li class="nav-item"><a class="nav-link" asp-area="Tenant" asp-controller="Home" asp-action="Index">@ViewBag.sessionv</a></li>
                    <li class="nav-item cta"><a asp-area="Unregistered" asp-controller="Unreg" asp-action="Index" class="nav-link ml-lg-2"><span class="icon-user"></span> Sign-out</a></li>

                </ul>
            </div>
        </div>
    </nav>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12 ftco-animate">
                        <div class="single-slider owl-carousel">
                            <div class="item">
                                <div class="properties-img" style="background-image: url(/@Model.Image);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 Properties-single mt-4 mb-5 ftco-animate">
                        <h2>@Model.Name</h2>
                        <p class="rate mb-4">
                            <span class="loc"><a href="#"><i class="icon-map"></i> @Model.Location</a></span>
                        </p>
                        <p>@Model.Cdetails</p>
                        <div class="d-md-flex mt-5 mb-5">
                            <ul>
                                <li><span>Owner Email: </span> @Model.HEmail</li>
                                <li><span>Circulation Type: </span>@Model.CircTypes.CircType</li>
                                <li><span>Monthly Rent: </span>@Model.Monthly_Rent BDT</li>
                                <li><span>Area: </span>@Model.SizeSQFT</li>
                                <li><span>House No.: </span> @Model.House_No</li>
                                <li><span>Flat No.: </span> @Model.Flat_No</li>

                            </ul>
                            <ul class="ml-md-5">

                                <li><span>Bed Rooms: </span>@Model.num_bed</li>
                                <li><span>Bath Rooms: </span>@Model.num_bath</li>
                                <li><span>Garage: </span> 4</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ftco-animate">
                <div class="container">
                    <div class="p-4 rounded border row">

                        <div class="form-group row">
                            <div><a asp-action="OwCirc" asp-controller="Home" asp-route-id="@Model.Id" class="btn btn-success pull-right btn-outline-info"><i class="far fa-user"></i>Owner Details</a></div>
                        </div>

                    </div>
                </div>

                <div class="container">
                    <form asp-action="" method="post" enctype="multipart/form-data">
                        <div class="p-4 rounded border row">
                            <div asp-validation-summary="ModelOnly" class="text-danger">

                            </div>

                            <div class="form-group row">

                                <div class="col-8">
                                    <h3 class="text-success">@ViewBag.messagenewsuccess</h3>
                                    <h3 class="text-danger">@ViewBag.messagenewdanger</h3>
                                    @if (circulation != null)
                                    {
                                        <button type="submit" class="btn btn-info" asp-action="Remove" asp-route-id="@Model.Id">Remove from Request Queue</button>
                                    }
                                    else
                                    {
                                        <input type="submit" asp-action="Detail" class="btn btn-info" value="Add to Request Queue" />
                                    }
                                    <input type="hidden" asp-for="Id" />

                                </div>
                            </div>



                        </div>
                    </form>
                </div>


                <div class="container">
                    <form asp-action="" method="post" enctype="multipart/form-data">
                        <div class="p-4 rounded border row">
                            <div class="form-group row">

                                <div class="col-8">
                                    <h3 class="text-success">@ViewBag.messagenewsecsuccess</h3>
                                    <h3 class="text-danger">@ViewBag.messagenewsecdanger</h3>
                                    <input asp-action="Second" type="submit" class="btn btn-info" value="Add to wishlist" name="abc" asp-route-id="@Model.Id" />
                                    @*}*@
                                    <input type="hidden" asp-for="Id" />

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="sidebar-box ftco-animate">
                    <h3>Reminder</h3>
                    <p>Send visit request to the owner directly or just add the circulation to wishlist to do it later</p>
                </div>
            </div>
        </div>
    </div>
</section> <!-- .section -->

