@using RentQuest.Models
@model IEnumerable<RentQuest.Models.MegaJoinClass>
@{
    ViewData["Title"] = "SentReq";
}

@using  RentQuest.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


@{
    int count = 0;
    List<Circulations> circulations = HttpContextAccessor.HttpContext.Session.Get<List<Circulations>>("circulations");
    if (circulations == null)
    {
        circulations = new List<Circulations>();
    }
    count = circulations.Count();
}



<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">P3S<span>Leasing</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" asp-area="Tenant" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="Tenant" asp-controller="Home" asp-action="Listing">Property</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="Tenant" asp-controller="Home" asp-action="WLSecond"><i class="fas fa-heart"></i>Your Wishlist</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="Tenant" asp-controller="Home" asp-action="SentReq">Sent Requests</a></li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Tenant" asp-controller="Home" asp-action="WL">
                        Request Queue
                        (@count)
                    </a>
                </li>

                <li class="nav-item"><a class="nav-link" asp-area="Tenant" asp-controller="Home" asp-action="Index">@ViewBag.sessionv</a></li>
                <li class="nav-item cta"><a asp-area="Unregistered" asp-controller="Unreg" asp-action="Index" class="nav-link ml-lg-2"><span class="icon-user"></span> Sign-out</a></li>

            </ul>
        </div>
    </div>
</nav>

<br />
<div class="container">
    @*<div class="row">*@
    <table class="table table-bordered">
        <thead>
            <tr>
                @*<th>Image</th>
                    <th>Name</th>
                    <th>Monthly Rent</th>*@
                <th>Property Name</th>

                <th>Image</th>
                <th>Location</th>
                <th>Owner Email</th>
                <th>Owner Name</th>
                <th>Owner Phone</th>
                <th>Request Date</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td><a>@item.CDetails.Name</a></td>
                <td><img src="~/@item.CDetails.Image" width="200px" height="150px" /></td>
                <td>@item.CDetails.Location</td>
                <td>@item.OwDetails.HEmail</td>
                <td>@item.OwDetails.HName</td>
                <td>@item.OwDetails.HPhone</td>
                <td>@item.VDetails.ReqDate</td>
                @if (@item.ReqDetails.Approved == 1)
                {
                    <td><a asp-action="SignLease" asp-controller="Home" asp-route-id="@item.CDetails.Id" class="btn btn-success btn-outline-info" onclick="sign()">Sign Lease</a></td>
                }
                else
                {
                    if (@item.ReqDetails.Approved == 2)
                    {
                        <td>
                            <span>Not Approved</span>
                            <div>Please contact Owner for More Details</div>
                        </td>
                    }
                }

            </tr>
            }
        </tbody>
    </table>
    @*</div>*@
</div>
<script>function sign() {
        let text;
        var dt = new Date();
        let person = prompt("Lease Details----------Please enter initals:", "fl");
        if (person == null || person == "") {
            text = "Enter initials to Sign the Lease!";
            document.getElementById("sign").innerHTML = text;
        } else {
            text = person + " Signed Lease Successfully at " + dt;
            alert(text);

        }
    }</script>
