@using RentQuest.Models
@model IEnumerable<RentQuest.Models.OwCircClass>
@{
    ViewData["Title"] = "OwCirc";
}

@using  RentQuest.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" asp-area="Owner" asp-controller="Owner" asp-action="Index">P3S<span>Leasing</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" asp-area="Owner" asp-controller="Owner" asp-action="Index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Owner" asp-controller="Owner" asp-action="ReceivedReq">Received Requests.......</a></li>

                    <li class="nav-item"><a class="nav-link" asp-area="Owner" asp-controller="OwCirc" asp-action="Index">Manage your Properties</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Owner" asp-controller="Owner" asp-action="Index">@ViewBag.sessionv</a></li>


                    <li class="nav-item cta"><a asp-area="Unregistered" asp-controller="Unreg" asp-action="Index" class="nav-link ml-lg-2"><span class="icon-user"></span> Sign-out</a></li>


                </ul>
            </div>
        </div>
    </nav>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    @foreach (var item in Model)
                    {
                    <div class="col-md-12 ftco-animate">
                        <div class="single-slider owl-carousel">
                            <div class="item">
                                <div class="properties-img" style="background-image: url(/@item.OwDetails.HImg);"></div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 Properties-single mt-4 mb-5 ftco-animate">
                        <h2>Name: @item.OwDetails.HName</h2>
                        <p class="rate mb-4">
                            <span class="loc"><a href="#"><i class="fa fa-mobile"></i>Phone No.: @item.OwDetails.HPhone</a></span>
                        </p>
                        <p class="rate mb-4">
                            <span class="loc"><a href="#"><i class="fa fa-envelope"></i>Email: @item.OwDetails.HEmail</a></span>
                        </p>

                        <div class="d-md-flex mt-5 mb-5">
                            <ul>
                                @*<li><span>Owner Email: </span> @item.OwDetails.HEmail</li>*@
                                @*<li><span>Circulation Type: </span>@Model.OwDetails</li>
                                    <li><span>Monthly Rent: </span>@Model.Monthly_Rent BDT</li>
                                    <li><span>Area: </span>@Model.SizeSQFT</li>
                                    <li><span>House No.: </span> @Model.House_No</li>
                                    <li><span>Flat No.: </span> @Model.Flat_No</li>*@

                            </ul>
                            @*<ul class="ml-md-5">

                                    <li><span>Bed Rooms: </span>@Model.num_bed</li>
                                    <li><span>Bath Rooms: </span>@Model.num_bath</li>
                                    <li><span>Garage: </span> 4</li>

                                </ul>*@
                        </div>


                    </div>
                    }

                </div>
            </div> <!-- .col-md-8 -->

        </div>
    </div>
</section>